In [2]:
import pandas as pd

In [6]:
pd.read_excel("variable_declarations_final_draft_jhs3June_.xlsx", error_bad_lines=False)

,item,modules,functions,tab,Completed,loc,# variables
0,1,input array sizes,NaN,input array sizes,yes,NaN,NaN
1,2,SelectRFbandV1,NaN,SelectRFband,yes,17.0,14.0
2,3,NaN,unwrap,SelectRFband,yes,11.0,5.0
3,4,MUSignalCollectionV2,NaN,NaN,NaN,NaN,NaN
4,5,NaN,MUSignalgenerator_ExV1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
70,72,NaN,EQUv2,NaN,NaN,NaN,NaN
71,73,NaN,npultest,NaN,NaN,NaN,NaN
72,74,NaN,ScoreSimpEQ,NaN,NaN,NaN,NaN
73,75,NaN,ScoreEQv4,NaN,NaN,NaN,NaN
74,76,NaN,Calpritest1,NaN,NaN,NaN,NaN

In [12]:
df_clean = pd.read_excel('variable_declarations_final_draft_jhs3June_.xlsx',
                 lineterminator='\n')

In [13]:
df_clean

,item,modules,functions,tab,Completed,loc,# variables
0,1,input array sizes,NaN,input array sizes,yes,NaN,NaN
1,2,SelectRFbandV1,NaN,SelectRFband,yes,17.0,14.0
2,3,NaN,unwrap,SelectRFband,yes,11.0,5.0
3,4,MUSignalCollectionV2,NaN,NaN,NaN,NaN,NaN
4,5,NaN,MUSignalgenerator_ExV1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
70,72,NaN,EQUv2,NaN,NaN,NaN,NaN
71,73,NaN,npultest,NaN,NaN,NaN,NaN
72,74,NaN,ScoreSimpEQ,NaN,NaN,NaN,NaN
73,75,NaN,ScoreEQv4,NaN,NaN,NaN,NaN
74,76,NaN,Calpritest1,NaN,NaN,NaN,NaN